@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	display: border-box;
}

img {
	display: block;
	max-width: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
}

/*----------------------------------header----------------------------------*/
.header {
	height: 60px;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.logo, .icon-menu {
	margin: 5px;
	color: #fff;
}

.icon-menu {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background-color: #fba919;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}
/*--------------------------------menu-bar--------------------------------*/
.nav{
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__link {
	display: block;
	padding: 20px;
	background: #fba919;
	text-decoration: none;
	color: #fff;
}

.menu__link:hover .select{
	background: white;
	color: #fba919;
}

.show {
	left: 0;
}

/*--------------------------------Banner Style--------------------------------*/

.banner {
	margin-top: -60px;
	position: relative;
	z-index: -1000;
}

.banner .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
}

.banner_txt {
	display: none;
}