@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	display: border-box;
}

img {
	display: block;
	max-width: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
}

.section__title {
	text-align: center;
	font-size: 40px;
	color: #fba919;
}

/*----------------------------------header----------------------------------*/
.header {
	height: 60px;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.logo, .icon-menu {
	margin: 5px;
	color: #fff;
}

.icon-menu {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background-color: #fba919;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}
/*--------------------------------menu-bar--------------------------------*/
.nav{
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__link {
	display: block;
	padding: 20px;
	background: #fba919;
	text-decoration: none;
	color: #fff;
}

.menu__link:hover .select{
	background: white;
	color: #fba919;
}

.show {
	left: 0;
}

/*--------------------------------Banner Style--------------------------------*/

.banner {
	margin-top: -60px;
	position: relative;
	z-index: -1000;
	margin-bottom: 20px;
}

.banner .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
}

.banner_txt {
	display: none;
}

/*-------------------------------------info style-------------------------------------*/


.info__column {
	background-color: #fba919;
	color: #fff;
	padding: 15px;
	margin-bottom: 30px;
}

/*----------------------------------------Courses style----------------------------------------*/

.courses__column {
	position: relative;
	margin-bottom: 30px;
}

.courses__description {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.5);
	width: 60%;
	height: 100%;
	padding: 5px;
}

.courses__title {
	font-size: 25px;
	margin: 5px 0;
}

/*-------------------------------------- footer style --------------------------------------*/

.footer {
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer .social [class^="icon-"] {
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 50px;
	padding: 10px;
	background: #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;
}

/*-----------------------------------------Styling for responsive features-----------------------------------------*/

@media(min-width: 480px) {
	.logo {
		font-size: 40px;
	}
	.banner__title {
		font-size: 30px;
		margin: 5px 0;
	}
	.banner__txt {
		display: block;
		font-size: 18px;
		margin: 7px 0;
	}

	.info, .courses {
		display: flex;
		justify-content: space-between;
		margin-top: -90px;
	}
	.info__column {
		width: 28%;
	}
	.info__title {
		font-size: 30px;
		margin: 5px 0;
	}
	.section__title {
		width: 100%;
	}
	.courses {
		flex-wrap: wrap;
		margin-top: 0;
	}
	.courses__column {
		width: 48%;
	}
}









