@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	display: border-box;
}

img {
	display: block;
	max-width: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
}

/* header */
.header {
	height: 60px;
}

.header .container {
	display: flex;
	justify-content: space-between;
}

.logo, .icon-menu {
	margin: 5px;
}

.icon-menu {
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background-color: #fba919;
	color: #fff;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
}

.nav{
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}